aiofiles==24.1.0
aiomail==0.0.2
aiosmtplib==3.0.1
beautifulsoup4==4.12.3
blinker==1.8.2
click==8.1.7
drymail==0.0.6
exceptiongroup==1.2.1
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mistune==3.0.2
priority==2.0.0
PyMySQL==1.1.1
Quart==0.19.6
soupsieve==2.5
SQLAlchemy==2.0.31
taskgroup==0.0.0a4
tomli==2.0.1
typing_extensions==4.12.2
Werkzeug==3.0.3
wsproto==1.2.0