body {
	font-family: Arial, sans-serif;
	display: flex;
	background-color: #f0f0f0;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	color: #333;
	margin: auto;
	width: fit-content;
	font-size: 6em;
	padding-bottom: 1rem;
}
form {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	margin: 0 auto;
}
input[type="file"],
input[type="email"],
input[type="submit"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}
input[type="submit"] {
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #45a049;
}

.flash-msg {
	background-color: #4caf50;
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	text-align: center;
}

.flash-msg.error {
	background-color: #f44336;
}

.flash-msg.warning {
	background-color: #ff9800;
}

.flash-msg.information {
	background-color: #2196f3;
}

.flash-msg.success {
	background-color: #4caf50;
}

.button {
	display: block;
	width: 100%;
	padding: 10px;
	margin: auto;
	margin: 10px 0;
	font-size: 16px;
	color: #fff;
	background-color: #4caf50;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	box-sizing: border-box;
}

.button:hover {
	background-color: #45a049;
}
